
  <div class="container">
    <div class="jumbotron">
      <div class="mx-auto pb-5" style="width: 500px;">
        <h1 class="position-relative text-success">BiginfoLabs Assignment</h1>
      </div>

      <div>
          <h5>Which direction does the sun rise from ?</h5>
        <div class="row">
          <div class="col d-flex justify-content-start">
            <label class="Opction d-flex justify-content-center pt-3" (click)="East()">East</label>
          </div>
          <div class="col d-flex justify-content-end">
            <label class="Opction d-flex justify-content-center pt-3" (click)="West()"> West</label>
          </div>
        </div>


        <div>
          <h5 class="pt-4">Example textarea</h5>
          <label class="form-control text-center align-middle pt-4" style="height: 100px;" [class.RightAns]="Answer=='East'" [class.WrongAns]="Answer=='West'" ><h3>{{AnsStatus}}</h3></label>
        </div>

    </div>

  </div>





